<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        .picture1{
            width: 400px;
            height: 400px;
            position: absolute;
            margin-left: 50%;
        }
        .textBox{
            position: absolute;
            margin-top: 500px;
            margin-left: 50%;
        }
    </style>
    <title>后台登陆页面</title>
</head>
<body>
    <img class="picture1" src="http://localhost:9090/picture/blog.jpg"/>
    <form method="post" action="/login/login">
        <ul class="textBox">
        <input  name="userName" type="text"><br>
        <input name="password" type="password">
        <input value="登陆" type="submit">
        </ul>
    </form>
</body>
</html>